@import './src/theme/shared';
@import './src/theme/functions';
@import './src/theme/typography';

.label {
  display: block;
  margin-bottom: 3px;
  @include text-15-b;
}

.label:first-letter {
  text-transform: capitalize;
}

.required {
  @include required;
}

.reactSelect {
  @include text-14;
}

.errorDescription {
  @include text-12;
  color: $red;
  margin-top: 5px;
}