@import '../../../src/theme/old-tokens/pallete';
@import '../../../src/theme/old-tokens/functions';
@import '../../../src/theme/old-tokens/typography';

.radio {
  &:not(:last-child) {
    margin-right: 40px;

    span {
      margin-bottom: 3px;
    }
  }

  span {
    @include text-14;
    padding-left: 26px;
    display: flex;
    position: relative;
    line-height: 20px;
  }

  input + span:before {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    border: 1px solid $back_dark_grey;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 0;
  }

  input:checked + span:before {
    border: 1px solid $green;
  }

  input:checked + span:after {
    content: '';
    width: 12px;
    height: 12px;
    display: block;
    background: $green;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 3px;
  }

  input {
    display: none;
  }
}

.disabled {
  input + span:before {
    background: $back_grey;
  }
  input:checked + span:before {
    border: 1px solid rgba($green, 0.5);
  }
  input:checked + span:after {
    background: rgba($green, 0.5);
  }
}
