@import "src/theme/abstractions";

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $green;
  width: 16px;
  height: 16px;
  border-radius: 22px;
  @include text-10;
  animation: colorWave 2s ease infinite;
  font-weight: 500;
  margin-left: 5px;
}

@keyframes colorWave {
  1% {
    background: rgba($green, 1);
  }
  50% {
    background: rgba($green, 0.5);
  }
  100% {
    background: rgba($green, 1);
  }
}
