@import "src/theme/abstractions";

$sizes: (
  "sm": #28a745,
  "md": #17a2b8,
  "lg": #ffc107,
);

@mixin colorWave-mixin($name, $color) {
  @keyframes colorWave-#{$name} {
    1% {
      background: rgba($color, 1);
    }
    50% {
      background: rgba($color, 0.5);
    }
    100% {
      background: rgba($color, 1);
    }
  }
}

@include colorWave-mixin(green, $green);
@include colorWave-mixin(blue, $blue);
@include colorWave-mixin(red, $red);
@include colorWave-mixin(orange, $orange);

.badgeWrapper {
  display: inline-flex;
  flex-shrink: 0;
  vertical-align: middle;
  position: relative;
  overflow: visible;
}

.badge {
  // variables
  $size: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  @include text-10;
  font-weight: 500;
  margin-left: 5px;
  padding: 4px;
  //
  flex-flow: row wrap;
  place-content: center;
  box-sizing: border-box;
  white-space: nowrap;

  &.asChild {
    z-index: 2;
    position: absolute;
    line-height: 1.5;
  }

  // placement
  &.top-right {
    top: -8px;
    right: -8px;
  }
  &.top-left {
    top: -8px;
    left: -8px;
  }
  &.bottom-right {
    bottom: -8px;
    right: -8px;
  }
  &.bottom-left {
    bottom: -8px;
    left: -8px;
  }

  width: $size;
  height: $size;

  // colors
  &.green {
    animation: colorWave-green 2s ease infinite;
  }
  &.blue {
    animation: colorWave-blue 2s ease infinite;
    color: $white;
  }
  &.red {
    animation: colorWave-red 2s ease infinite;
  }
  &.orange {
    animation: colorWave-orange 2s ease infinite;
  }
}

@keyframes pointAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
  }
}
