@import './src/theme/pallete';
@import './src/theme/functions';
@import './src/theme/typography';

.button {
  display: flex;
  justify-content: center;
  border: 0;
  cursor: pointer;
  box-shadow: none;
  outline: none;
  @include text-14-b;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  transition: $transition;
  max-height: 45px;
  min-width: 80px;
  border-radius: $border_radius;

  &:not(.disabled):hover {
    transition: $transition;
  }

  svg {
    flex-shrink: 0;
    margin-right: 8px;
    path {
      transition: fill 0.2s;
    }
  }
}

.primary {
  background: $green;
  border: 2px solid $green;

  &:not(.disabled):hover {
    color: $green;
    background: $black;
    border: 2px solid $black;
  }

  &:hover {
    svg {
      path {
        transition: fill 0.2s;
        fill: $green;
      }
    }
  }
}

.secondary {
  background: $white;
  border: 2px solid $green;

  &:not(.disabled):hover {
    color: $green;
    background: $black;
    border: 2px solid $black;
  }

  &:hover {
    svg {
      path {
        fill: $green;
      }
    }
  }
}

.plain {
  color: $green;
  background: transparent;
  border: 2px solid transparent;
  padding: 2px 5px;

  svg {
    path {
      fill: $green;
    }
  }

  &:not(.disabled):hover {
    color: $black;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: underline;
  }

  &:hover {
    svg {
      path {
        fill: $black;
      }
    }
  }
}

.loader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 25px;
    height: 25px;
    margin-right: 0;
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
