@import './src/theme/shared';
@import './src/theme/pallete';
@import './src/theme/functions';
@import './src/theme/typography';

.label {
  display: block;
  margin-bottom: 3px;
  @include text-15-b;
}

.label:first-letter {
  text-transform: capitalize;
}

.textarea {
  @include text-14;
  display: table;
  resize: vertical;
  padding: 11px 10px;
  border-radius: $input_border_radius;
  width: 100%;
  appearance: none;
  border: 1px solid $back_dark_grey;

  &:focus {
    border: 1px solid $green;
    outline: none;
  }
}

.required {
  @include required;
}

.disabled {
  background-color: $back_grey;
  border: 1px solid $back_dark_grey;

  &:hover {
    cursor: not-allowed;
  }
}

.errorDescription {
  @include text-12;
  color: $red;
  margin-top: 5px;
}

.description {
  margin-top: 2px;
  color: $color_grey;
  @include text-12-b;
}
