@import '../../../src/theme/old-tokens/shared';
@import '../../../src/theme/old-tokens/pallete';
@import '../../../src/theme/old-tokens/functions';
@import '../../../src/theme/old-tokens/typography';

.label {
  display: flex;
  & > :nth-child(1) {
    display: block;
    margin-bottom: 3px;
    @include text-15-b;
    &:first-letter {
      text-transform: capitalize;
    }
  }
}

.toggle {
  span {
    @include text-14;
    padding-left: 40px;
    display: flex;
    position: relative;
    line-height: 21px;
    font-weight: 300;
  }

  input + span:before {
    content: '';
    width: 32px;
    height: 19px;
    display: block;
    border: 1px solid $back_dark_grey;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
  }

  input + span:after {
    content: '';
    width: 13px;
    height: 13px;
    display: block;
    background-color: $back_dark_grey;
    border-radius: 20px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: $transition;
  }

  input:checked + span:before {
    background: $green;
    border: 1px solid $green;
  }

  input:checked + span:after {
    transition: $transition;
    background-color: $white;
    transform: translateX(100%);
  }

  input {
    display: none;
  }
}

.required {
  @include required;
}

.errorDescription {
  @include text-12;
  color: $error;
  margin-top: 5px;
}
