@import '../../../src/theme/old-tokens/pallete';
@import '../../../src/theme/old-tokens/functions';
@import '../../../src/theme/old-tokens/typography';
@import '../../../src/theme/old-tokens/shared';

.label {
  display: block;
  margin-bottom: 5px;
  @include text-15-b;
}

.label:first-letter {
  text-transform: capitalize;
}

.required {
  @include required;
}

.disabled {
  text-transform: capitalize;
}
