@import "src/theme/abstractions";

.opportunities {
  margin-top: -20px;
  margin-bottom: 30px;
  padding: 20px 20px 4px;
  background: rgba($back_grey, 0.5);
  border: 1px solid $border;
  border-radius: $border_radius;
}

.card {
  position: relative;
  border-radius: 10px;
  border: 1px solid $back_dark_grey;
  word-break: break-all;

  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    transform: translateY(-1%);
  }

  p {
    margin: 0;
  }
}

.cbm {
  color: $light_grey;
}

.layout {
  &.grid {
    display: grid;
    grid-gap: 16px;
    background: $white;
    scroll-snap-align: center;
    width: 350px;
    padding: 18px 12px;

    .dimensions {
      color: $light_grey;
    }
  }

  &.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 12px;

    & > *:not(:first-child) {
      flex: 1;
      justify-content: space-around;
    }

    & > *:last-child {
      flex: 1;
      justify-content: space-between;
    }
  }
}

.wrapper {
  gap: 16px;
  padding: 16px 0 24px 0;
  transition: all 0.5s ease-in-out;

  display: grid;

  &.grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    overflow-x: auto;
    width: 100%;
    scroll-snap-type: x proximity;
  }

  &.flex {
    grid-template-columns: 1fr;
  }
}

.dimensions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gridTitleWrapper {
  padding-top: 8px;
}

.productName {
  @include text-14;
  text-align: start;
  color: $black;
  width: 90%;
}

.layoutControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  svg:hover {
    transform: scale(1.1);
    transition: all 0.3s linear;
  }
}

.divider {
  height: 18px;
  width: 1px;
  background-color: black;
}

.activeIcon {
  path {
    fill: $green;
  }
}

.pointer {
  cursor: pointer;
}

.overflowActions {
  position: absolute;
  top: -10px;
  left: 10px;
  right: 10px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeLeft {
  background: #ffe3ba;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  gap: 4px;
  border-radius: 10px;
}

.closeBtnWrapper {
  button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    min-width: auto;
  }

  svg {
    margin: 0 !important;
  }
}

// skeleton
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeletonCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 12px;

    div:first-child {
      margin: auto;
    }
  }

  &.grid {
    width: 350px;
    height: 165px;
    padding: 18px 12px;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeletonText {
  width: 100%;
  height: 0.7rem;
  border-radius: 0.25rem;
}

.skeletonButton {
  width: 30%;
  height: 1.8rem;
  border-radius: 0.25rem;
}

.skeletonTextBody {
  width: 35%;
}

.skeletonFooter {
  width: 30%;
}
