$white: #ffffff;
$black: #000000;
$light_grey: #707786;
$back_grey: #f3f4f6;
$back_dark_grey: #d5d5d5;
$back_dark: #f1f0f0;
$green: #23d899;
$dark_green: #1f8a65;
$light_green: #6ddfb0;
$blue: #1829c5;
$dark_blue: #1f2937;
$red: #fda4af;
$error: #ff1a27;
$orange: #ffa31a;
$light_orange: #ffe1b4;
$border: #ededed;
$color_grey: #939393;
$overlay: rgba(#c4c4c4, 0.8);
