$white: #ffffff;
$black: #000000;
$light_grey: #707786;

$light_green: #6ddfb0;
$dark_blue: #1f2937;
$red: #fda4af;
$light_orange: #ffe1b4;

// alerts
$info: #7ed6df;
$warning: #c45404;
$alert_error: #db271a;

$back_grey: #0000000d;
$back_dark_grey: #00000021;
$back_dark: #00000014;
$green: #006646;
$dark_green: #005238;
$blue: #1829c5;
$red: #db271a;
$error: #db271a;
$red_600: #db271a;
$orange: #c45404;
$border: #00000021;
$overlay: #00000036;
$light_grey: #00000008;
$color_grey: #0000008f;
$grey: #0000008f;
