$white: #ffffff;
$black: #000000;
$light_grey: #707070;

$light_green: #e9f7ee;
$dark_blue: #1f2937;
$light_orange: #fff3eb;

// alerts
$info: #7ed6df;
$warning: #c45404;
$alert_error: #db271a;

$back_grey: #0000000d;
$back_dark_grey: #00000021;
$back_dark: #00000014;
$green: #006646;
$dark_green: #005238;
$red: #db271a;
$error: #db271a;
$red_600: #db271a;
$orange: #c45404;
$orange_500: #b44d04;
$border: #00000021;
$overlay: #00000036;
$color_grey: #0000008f;
$grey: #0000008f;
$grey_500: #00000057;
$grey_700: #000000b0;

$red_100: #fdeeed;
$red_500: #c92318;

$info_100: #edf3f9;
$info_200: #a6c6de;
$info_300: #6a9fc8;
$info_400: #3d77a4;
$info_500: #376c95;
$info_600: #274c68;
$info_700: #11202d;
