@mixin text-10 {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  line-height: 15px;
}
@mixin text-10-sb {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  line-height: 15px;
  font-weight: 600;
}
@mixin text-12 {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 15px;
}
@mixin text-12-sb {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
}
@mixin text-12-b {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
}
@mixin text-14 {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
@mixin text-14-b {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}
@mixin text-15 {
  font-family: "Inter", sans-serif;
  @include text-14;
}
@mixin text-15-b {
  font-family: "Inter", sans-serif;
  @include text-14-b;
}
@mixin text-16 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 23px;
}
@mixin text-16-b {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: bold;
}
@mixin text-17 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 22px;
}
@mixin text-17-b {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}
@mixin text-19 {
  font-family: "Inter", sans-serif;
  @include text-17;
}
@mixin text-19-b {
  font-family: "Inter", sans-serif;
  @include text-17-b;
}
@mixin text-21 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 28px;
}
@mixin text-21-b {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  line-height: 28px;
  font-weight: bold;
}
@mixin text-23 {
  font-family: "Inter", sans-serif;
  @include text-21;
}
@mixin text-23-b {
  font-family: "Inter", sans-serif;
  @include text-21-b;
}
@mixin underline {
  font-family: "Inter", sans-serif;
  text-decoration: underline;
}
