@import './src/theme/shared';
@import './src/theme/pallete';
@import './src/theme/functions';
@import './src/theme/typography';

.label {
  display: block;
  margin-bottom: 3px;
  @include text-15-b;
}

.label:first-letter {
  text-transform: capitalize;
}

.required {
  @include required;
}

.container {
  display: flex;
  align-items: center;
}

.reactSelect {
  @include text-14;

  &.border-right-none {
    :global(.react-select__control) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  &.border-left-none {
    :global(.react-select__control) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.errorDescription {
  @include text-12;
  color: $red;
  margin-top: 5px;
}
