@import './src/theme/shared';
@import './src/theme/pallete';
@import './src/theme/functions';
@import './src/theme/typography';

.label {
  display: block;
  margin-bottom: 5px;
  @include text-15-b;
}

.textFieldWrapper {
  width: 100%;
}

.label:first-letter {
  text-transform: capitalize;
}

.input {
  @include text-14;
  padding: 8px 12px;
  border-radius: $input_border_radius;
  border: 1px solid $back_dark_grey;
  width: 100%;

  &.border-right-none {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &.border-left-none {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:focus {
    border: 1px solid $green;
    outline: none;
  }
}

.required {
  @include required;
}

.disabled {
  background-color: $back_grey;
  border: 1px solid $back_dark_grey;

  &:hover {
    cursor: not-allowed;
  }
}

.errorDescription {
  @include text-12;
  color: $red;
  margin-top: 5px;
}

.description {
  margin-top: 2px;
  color: $color_grey;
  @include text-12-b;
}
