@import "./src/theme/shared";
@import "./src/theme/pallete";
@import "./src/theme/functions";
@import "./src/theme/typography";

.chip {
  @include text-12;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 10 * $border_radius;
}

.grey {
  background-color: $back_grey;
}

.green {
  background-color: $light_green;
}

.orange {
  background-color: $light_orange;
}

.blue {
  background-color: $blue;
  color: $white;
}

.text {
  @include text-10;
  text-transform: uppercase;
}

.prefix {
  padding-right: 6px;
  color: $light_grey;
  opacity: 0.3;
}
