@import './src/theme/shared';
@import './src/theme/pallete';
@import './src/theme/functions';
@import './src/theme/typography';

.chip {
  @include text-12;
  width: fit-content;
  padding: 5px 8px;
  border-radius: 40px;
}

.grey {
  background-color: $back_grey;
}

.green {
  background-color: $light_green;
}

.orange {
  background-color: $light_orange;
}

.text {
  @include text-10;
  text-transform: uppercase;
}

.prefix {
  padding-right: 6px;
  color: $light_grey;
  opacity: 0.3;
}
