@import './src/theme/shared';
@import './src/theme/pallete';
@import './src/theme/functions';
@import './src/theme/typography';
@import './src/theme/grid';

.table {
  width: 100%;
  @include text-14;
}

.tableColumn {
  &:first-child {
    padding-left: 20px;
  }
}

.tableColumnShowOnHover {
  visibility: hidden;

  &:hover {
    display: block;
  }
}

.tableColumnText {
  float: left;
  color: $light_grey;
  font-weight: 400;
  @include text-12;
}

.tableHeaderDefault {
  padding: 19px 0 11px;
}

.tableHeaderSmall {
  padding: 8px 0 8px;
}

.tableEmpty {
  color: $color_grey;
  text-align: center;
  margin: 30px 20px;
}

.tableRow {
  padding: 14px 0 14px 0;
  visibility: visible;

  .showOnHover {
    visibility: hidden;
  }

  &:hover {
    .showOnHover {
      visibility: visible;
    }
  }
}

.tableRowClickable {
  cursor: pointer;

  &:hover {
    background: rgba($color_grey, 0.13);
  }
}

.tableRowDefault {
  border-bottom: 1px solid $border;
  padding: 14px 0 14px 0;
}

.tableRowSmall {
  padding: 4px 0 4px 0;
}

.textRow {
  height: 100%;
  overflow-wrap: anywhere;
  padding-right: 10px;

  small {
    line-height: 15px;
  }

  ol {
    flex-wrap: wrap;
  }
}

.cols {
  display: flex;
}

@for $i from 0 to 100 {
  .col-#{$i} {
    flex: $i 1 0;
  }
}
